body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #333;
}
.jumbotron {
    position: relative;
    overflow: hidden;
    background: url('https://via.placeholder.com/800x400') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jumbotron:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.jumbotron .container {
    z-index: 1;
    text-align: center;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    margin-top: 30px;
}
.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}