<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add New DayWork</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

</head>
<body>
<div class="container mt-5">
  <h1>Add New DayWork</h1>
  <div th:if="${totalKmAlert}" class="alert alert-warning" role="alert">
    The total kilometers for this driver has exceeded 300.
  </div>

  <div th:if="${stopAssigningRoutes}" class="alert alert-danger" role="alert">
    Stop assigning routes for this driver as the total kilometers has exceeded 380.
  </div>

  <form th:action="@{/daywork-management/save}" th:object="${dayWork}" method="post">
    <div class="form-group">
      <label for="date">Date:</label>
      <input type="date" th:field="*{date}" class="form-control" id="date" />
    </div>

    <div class="form-group">
      <label for="driver">Driver:</label>
      <select th:field="*{driver.id}" class="form-control" id="driver">
        <option th:each="driver : ${drivers}"
                th:value="${driver.id}"
                th:text="${driver.firstName + ' ' + driver.lastName}"></option>
      </select>
    </div>

    <div class="form-group">
      <label for="route">Route:</label>
      <select th:field="*{route.id}" class="form-control" id="route">
        <option th:each="route : ${routes}"
                th:value="${route.id}"
                th:text="${route.nameRoute}"></option>
      </select>
    </div>

    <div class="form-group">
      <label for="vehicle">Vehicle:</label>
      <select th:field="*{vehicle.id}" class="form-control" id="vehicle">
        <option th:each="vehicle : ${vehicles}"
                th:value="${vehicle.id}"
                th:text="${vehicle.mark + ' ' + vehicle.model}"></option>
      </select>
    </div>



    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="/js/test.js"></script>
</body>
</html>