<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Driver</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <div th:if="${success}" class="alert alert-success">
    Użytkownik został pomyślnie utworzony.
  </div>
  <div th:if="${usernameError}" class="alert alert-danger">
    <span th:text="${usernameError}"></span>
  </div>
  <h1>Add Driver</h1>
  <form th:action="@{/driver-management/add}" method="post" th:object="${driver}">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" class="form-control" id="firstName" name="firstName"
             th:field="*{firstName}" required>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" class="form-control" id="lastName" name="lastName"
             th:field="*{lastName}" required>
    </div>
    <div class="form-group">
      <label for="birthDate">Birth Date:</label>
      <input type="date" class="form-control" id="birthDate" name="birthDate"
             th:field="*{birthDate}" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" name="email"
             th:field="*{email}" required>
    </div>
    <div class="form-group">
      <label for="phoneNumber">Phone Number:</label>
      <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber"
             th:field="*{phoneNumber}" required>
    </div>
    <div class="form-group">
      <label for="hourlyRate">Basic payout:</label>
      <input type="number" class="form-control" id="basicPayout" name="basicPayout"
             th:field="*{basicPayout}" min="0.0" step="0.01" required>
    </div>
    <div class="form-group">
      <label for="hourlyRate">Hourly Rate:</label>
      <input type="number" class="form-control" id="hourlyRate" name="hourlyRate"
             th:field="*{hourlyRate}" min="0.0" step="0.01" required>
    </div>
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" required>
      <small class="text-danger" th:if="${error}">[[${error}]]</small>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
  <a th:href="@{/driver-management}" class="btn btn-secondary">Cancel</a>
</div>
</body>
</html>