<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>DayWork Management</title>
  <!-- Add Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1>DayWork Management</h1>
  <div class="row mb-3">
    <div class="col-12 col-md-4 mb-2">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Filter by date:</span>
        </div>
        <input type="date" class="form-control" id="filterDate" value="" />
      </div>
    </div>
    <div class="col-12 col-md-4 mb-2">
      <button class="btn btn-primary" id="todayBtn">Dzisiejsze trasy</button>
      <button class="btn btn-primary" id="yesterdayBtn">Wczorajsze trasy</button>
      <button class="btn btn-primary" id="tomorrowBtn">Jutrzejsze trasy</button>
    </div>
    <div class="col-12 col-md-4 mb-2">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Filter by driver:</span>
        </div>
        <select class="form-control" id="filterDriver">
          <option value="">All</option>
          <th:block th:each="driver : ${drivers}">
            <option th:value="${driver.id}" th:text="${driver.firstName + ' ' + driver.lastName}"></option>
          </th:block>
        </select>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Driver</th>
      <th>Route</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dayWork : ${dayWorks}" class="daywork-row">
      <td th:text="${dayWork.id}"></td>
      <td th:text="${dayWork.date}"></td>
      <td th:text="${dayWork.driver.firstName + ' ' + dayWork.driver.lastName}"></td>
      <td th:text="${dayWork.route.nameRoute}"></td>
      <td>
        <a class="btn btn-danger" th:href="@{/daywork-management/delete/{id}(id=${dayWork.id})}">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
  <a class="btn btn-success" href="/daywork-management/add">Add New DayWork</a>
</div>
<!-- Add Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="/js/filterDayWork.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>