<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GLOBAL TRANS</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style\LandingPage.css">
    <style>

    </style>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#">GLOBAL TRANS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#about-us">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact-us">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
        </ul>
    </div>
</nav>
<div class="jumbotron container-fluid">
    <video autoplay muted loop id="myVideo" style="position: absolute; right: 0; bottom: 0; min-width: 100%; min-height: 100%;">
        <source src="videosAndImg\landingVideos.mp4" type="video/mp4">
    </video>
    <div class="container">
        <h1 class="display-4">Welcome to my landing page</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus malesuada est et quam dignissim bibendum. Suspendisse potenti.</p>
        <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
    </div>
</div>
<div class="container">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus malesuada est et quam dignissim bibendum. Suspendisse potenti. Phasellus luctus lacus in nibh bibendum, ac laoreet nulla euismod. Proin non nunc vitae nunc sodales rhoncus.</p>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</body>
</html>