<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payment Management</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Payment Management</h1>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Day Work ID</th>
            <th>Driver ID</th>
            <th>Total KM</th>
            <th>Work Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="workDayBilling : ${workDayBillings}">
            <td th:text="${workDayBilling.id}"></td>
            <td th:text="${workDayBilling.dayWorkId}"></td>
            <td th:text="${workDayBilling.driverId}"></td>
            <td th:text="${workDayBilling.totalKm}"></td>
            <td th:text="${workDayBilling.workDate}"></td>
        </tr>
        </tbody>
    </table>

    <a href="/generate-billing" class="btn btn-primary">Wygeneruj rachunki</a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.min.js"></script>
</body>
</html>