<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Route Management</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Global Trans App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/route-management">Routes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user-management">Users</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <h1 class="my-4">Route Management</h1>

  <table class="table table-bordered table-hover">
    <thead class="thead-light">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Map URL</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="route : ${routes}">
      <td th:text="${route.id}"></td>
      <td th:text="${route.nameRoute}"></td>
      <td>
        <a th:href="${route.map_url}" th:text="${route.map_url}" target="_blank"></a>
      </td>
      <td>
        <a class="btn btn-primary" th:href="@{/route-management/edit/{id}(id=${route.id})}">Edit</a>
        <a class="btn btn-danger" th:href="@{/route-management/delete/{id}(id=${route.id})}">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
  <a class="btn btn-success" href="/route-management/add">Add New Route</a>
</div>

<!-- jQuery, Popper.js, and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>